{% extends 'admin/adminLayout.html.twig' %}

{% block body %}

    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <a href="index.php?section=admin&page=home" class="text-dark">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">
                    <a class="text-dark">Forms</a>
                </li>
                <li class="breadcrumb-item active">Products</li>
            </ol>

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Products</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row mb-3">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {% if errors is defined %}
                                <div class="alert alert-danger">
                                    <strong>{{ errors }}</strong>
                                </div>
                            {% endif %}
                        </div>
                        <div class="panel-body">
                            <form role="form" action="index.php?section=admin&page=tables&table=products&action={{ products.idproducts is defined ? 'update&idproducts=' ~ products.idproducts: 'add' }}"
                                  method="post">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="disabledSelect">#</label>
                                            <input class="form-control" id="disabledInput" type="text" placeholder="" value="{{ products.idproducts }}" disabled>
                                        </div>
                                        <div class="form-group">
                                            <label>Product</label>
                                            <input class="form-control" placeholder="Enter reference of the product" name="product" value="{{ products.product }}">
                                        </div>
                                        <div class="form-group">
                                            <label>Description</label>
                                            <input class="form-control" type="text" placeholder="Enter value here" name="descpro" value="{{ products.descpro }}">
                                        </div>
                                        <div class="form-group">
                                            <label>Quantity</label>
                                            <input class="form-control" placeholder="Enter value here" name="quantity" value="{{ products.quantity }}">
                                        </div>
                                        <div class="form-group">
                                            <label>Price</label>
                                            <input class="form-control" placeholder="Price" name="price" value="{{ products.price }}">
                                        </div>
                                        {#<div class="form-group">#}
                                            {#<label for="images">Images</label>#}
                                            {#<input type="file" name="images[]" multiple="multiple" id="images" value="{{ products.images_idimages }}">#}
                                        {#</div>#}
                                    </div>
                                    <!-- /.col-lg-6 (nested) -->
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Image</label>
                                            <select class="form-control" name="idimages">
                                                {% if products.idimages is defined  %}
                                                    <option value="{{ products.idimages }}">{{ products.alt }} (actual)</option>
                                                {% endif %}
                                                {% for image in images  %}
                                                    {% if products.idimages != image.idimages %}
                                                        <option value="{{ image.idimages }}">{{ image.alt }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Category</label>
                                            <select class="form-control" name="idcategories">
                                                {% if products.idcategories is defined  %}
                                                    <option value="{{ products.idcategories }}">{{ products.category }} (actual)</option>
                                                {% endif %}
                                                {% for category in categories  %}
                                                    {% if products.idcategories != category.idcategories %}
                                                        <option value="{{ category.idcategories }}">{{ category.category }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <!-- /.col-lg-6 (nested) -->
                                 </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock body %}