{% extends 'admin/adminLayout.html.twig' %}

{% block body %}

    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <a href="index.php?section=admin&page=home" class="text-dark">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">
                    <a class="text-dark">Forms</a>
                </li>
                <li class="breadcrumb-item active">Users</li>
            </ol>

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Users</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row mb-3">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {% if errors is defined %}
                                <div class="alert alert-danger">
                                    <strong>{{ errors }}</strong>
                                </div>
                            {% endif %}
                        </div>
                        <div class="panel-body">
                            {#{% if users.idusers is defined %}#}
                            {#<form role="form" action="index.php?section=admin&page=tables&table=users&action=update&idusers={{ users.idusers }}" method="post">#}
                            {#{% else %}#}
                            {#<form role="form" action="index.php?section=admin&page=tables&table=users&action=add" method="post">#}


                                <form role="form" action="index.php?section=admin&page=tables&table=users&action={{ users.idusers is defined ? 'update&idusers=' ~ users.idusers : 'add' }}"
                                      method="post">

                             {#{% endif %}#}
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="disabledSelect">Idusers</label>
                                            <input class="form-control" id="disabledInput" type="text" placeholder="" value="{{ users.idusers }}" disabled>
                                        </div>
                                        <div class="form-group">
                                            <label>Firstname</label>
                                            <input class="form-control" placeholder="Enter firstname" name="firstname" value="{{ users.firstname }}">
                                        </div>
                                        <div class="form-group">
                                            <label>Lastname</label>
                                            <input class="form-control" placeholder="Enter lastname" name="lastname" value="{{ users.lastname }}">
                                        </div>
                                        <div class="form-group">
                                            <label>Address</label>
                                            <input class="form-control" placeholder="Enter address" name="address" value="{{ users.address }}">
                                        </div>
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input class="form-control" placeholder="Enter email" name="email" value="{{ users.email }}">
                                        </div>
                                        <div class="form-group">
                                            <label>Phone</label>
                                            <input class="form-control" placeholder="Enter phone" name="phone" value="{{ users.phone }}">
                                        </div>
                                    </div>
                                    <!-- /.col-lg-6 (nested) -->
                                    <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Login</label>
                                                <input class="form-control" placeholder="Enter login" name="login" value="{{ users.login }}">
                                            </div>
                                            <div class="form-group">
                                                <label>Password</label>
                                                <input class="form-control" placeholder="Enter password" name="password" value="{{ users.password }}">
                                            </div>
                                        {#<div class="form-group">#}
                                            {#<label>Role</label>#}
                                            {#<input class="form-control" placeholder="Enter role" name="roles_idroles" value="{{ users.roles_idroles }}">#}
                                        {#</div>#}
                                        <div class="form-group">
                                            <label>Role</label>
                                            <select class="form-control" name="roles_idroles">
                                                {% if users.type is defined %}
                                                    <option value="{{ users.roles_idroles }}">{{ users.type }} (actual)</option>
                                                {% endif %}
                                                {% for role in roles  %}
                                                    {% if users.type != role.type %}
                                                        <option value="{{ role.idroles }}">{{ role.type }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <!-- /.col-lg-6 (nested) -->
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i></button>
                                </div>
                                <!-- /.row (nested) -->
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    </div>
    <!-- /#wrapper -->

{% endblock body %}