{% extends 'admin/adminLayout.html.twig' %}

{% block body %}

    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <a href="index.php?section=admin&page=home" class="text-dark">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">
                    <a class="text-dark">Forms</a>
                </li>
                <li class="breadcrumb-item active">Contents</li>
            </ol>

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Contents</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row mb-3">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {% if errors is defined %}
                                <div class="alert alert-danger">
                                    <strong>{{ errors }}</strong>
                                </div>
                            {% endif %}
                        </div>
                        <div class="panel-body">
                            {% if contents.idcontents is defined %}
                            <form role="form" action="index.php?section=admin&page=tables&table=contents&action=update&idcontents={{ contents.idcontents }}" method="post">
                            {% else %}
                            <form role="form" action="index.php?section=admin&page=tables&table=contents&action=add" method="post">
                             {% endif %}
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="disabledSelect">Idcontents</label>
                                            <input class="form-control" id="disabledInput" type="text" placeholder="" value="{{ contents.idcontents }}" disabled>
                                        </div>
                                        <div class="form-group">
                                            <label>Title</label>
                                            <input class="form-control" placeholder="Enter title" name="title" value="{{ contents.title }}">
                                        </div>
                                        <div class="form-group">
                                            <label>Description</label>
                                            <input class="form-control" placeholder="Enter description" name="description" value="{{ contents.description }}">
                                        </div>
                                    </div>
                                    <!-- /.col-lg-6 (nested) -->
                                    <div class="col-lg-6">
                                    </div>
                                    <!-- /.col-lg-6 (nested) -->
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i></button>
                                </div>
                                <!-- /.row (nested) -->
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    </div>
    <!-- /#wrapper -->

{% endblock body %}