{% extends 'admin/layoutAdmin.html.twig' %}

{% block body %}

    <div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="" class="text-dark">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Admin</li>
            <li class="breadcrumb-item active">Customers</li>
        </ol>
        <!-- Example DataTables Card-->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i> Customers
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Customer ID</th>
                            <th>Last name</th>
                            <th>First name</th>
                            <th>Address</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>More</th>
                            <th>Update</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Customer ID</th>
                            <th>Last name</th>
                            <th>First name</th>
                            <th>Address</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>More</th>
                            <th>Update</th>
                            <th>Delete</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for citation in alls %}
                            <tr>
                                <td>{{ citation.author }}</td>
                                <td>{{ citation.image }}</td>
                                <td>{{ citation.content }}</td>
                                <td>{{ citation.chapter }}</td>
                                <td>{{ citation.author }}</td>
                                <td>{{ citation.author }}</td>
                                <td><a class="btn btn-info" href="#"><i class="fa fa-search-plus"></i></a></td>
                                <td><a class="btn btn-warning" href="#"><i class="fa fa-inverse fa-pencil-square-o"></i></a></td>
                                <td><a class="btn btn-danger" href="#" class="nav-item" data-toggle="modal" data-target="#exampleModal2" title="Logout"><i class="fa fa-trash"></i></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->

    <!-- Delete Modal-->
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Delete?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Delete" below if you are ready to delete your data.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel
                    </button>
                    <a class="btn btn-primary" href="index.php?section=tablesAdmin">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.Delete Modal-->

{% endblock body %}