{% extends 'layout.html.twig' %}

{% block body %}

    <header class="business-header-contact">
        <div class="container">
        </div>
    </header>

    <div class="container">

        <div align="center" class="title-contact">
            <h3>Nous contacter</h3>
        </div>

        <div class="col-lg-12">
            <form action="index.php?section=contact" method="post">
                <script type="text/javascript" src="https://www.google.com/recaptcha/api.js?hl=fr"></script>
                <fieldset>


                    <div class="row">

                        <div class="col-lg-offset-3 col-lg-6 col-md-12 col-sm-12">
                        <label class=" control-label" for="firstname">Prénom *</label><input id="firstname" name="firstname" type="text" placeholder="Prénom" class="form-control input-md" value="{{ post.firstname }}">
                        {% if errors.firstname is defined %}
                            <p class="errors">{{ errors.firstname }}</p>
                        {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-offset-3 col-lg-6 col-md-12 col-sm-12">
                        <label class="control-label" for="lastname"> Nom</label>
                        <input id="lastname" name="lastname" placeholder="Nom" type="text" class="form-control input-md" value="{{ post.lastname }}">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-offset-3 col-lg-6 col-md-12 col-sm-12">
                        <label class="control-label" for="phone"> Téléphone</label>
                        <input id="phone" name="phone" type="tel" minlength=10 maxlength=10 placeholder="Téléphone" class="form-control input-md" value="{{ post.phone }}">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-offset-3 col-lg-6 col-md-12 col-sm-12">
                        <label class="col-lg-12 control-label" for="email">Email *</label>
                        <input id="email" name="email" placeholder="Email" type="email" class="form-control input-md" value="{{ post.email }}">
                        {% if errors.email is defined %}
                            <p class="errors">{{ errors.email }}</p>
                        {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-offset-3 col-lg-6 col-md-12 col-sm-12">
                        <label class="col-lg-12 control-label" for="message">Message *</label>
                        <textarea class="form-control input-md" name="message" placeholder="Message" rows=6 cols=420 >{{ post.message }}</textarea>
                        {% if errors.message is defined %}
                            <p class="errors">{{ errors.message }}</p>
                        {% endif %}
                            <p>* Champs requis</p>
                        </div>

                    </div>

                <!-- Captcha -->
                        <div class="col-lg-offset-3 col-lg-6 col-md-12 col-sm-12" align="center">

                    <input class="hidden" type="text" name="secret" value="6LeIIzsUAAAAAPaLaQiBs9FnEgSOAa9ji7ihNhrL">
                    <input class="hidden" type="text" name="response" value="g-recaptcha-response">
                    <input class="hidden" type="text" name="remoteip" value="{{ remoteip }}">
                    <div class="g-recaptcha" data-sitekey="6LeIIzsUAAAAAOUQ2F0nz-vWIJSGl7SwSSGglgRa"></div>

                <!-- Button -->

                    <label class="col-lg-offset-3 col-lg-6 col-md-12 col-sm-12 control-label" for="envoyer"></label>
                    <div class="col-lg-12" align="center">
                        <button id="submit" name="submit" class="btn btn-envoi">Envoyer</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>




            <div class="row">
                <div class="col-lg-6 hidden-xs googlemap" align="center">
                    <iframe class="map"src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.620984652678!2d2.40433451555134!3d48.865437408164695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66d9b51bb7ce5%3A0x26c2589249081fc0!2s22+Rue+Emile+Pierre+Casel%2C+75020+Paris!5e0!3m2!1sfr!2sfr!4v1511439693698" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>



                <div class="col-lg-6 address">
                    <h3>Volup'T</h3>
                        <p>
                            {% for content in contents %}
                                {% if content.content == 'address' %}
                                    <p>{{ content.desccon}}</p>
                                {% endif %}
                                {% if content.content == 'telephone' %}
                                    <p>{{ content.desccon}}</p>
                                {% endif %}
                                {% if content.content == 'business_hours' %}
                                    <p>{{ content.desccon}}</p>
                                {% endif %}
                            {% endfor %}
                        </p>

                    <p class="contactLien"><a class="btn btn-lg btncontact" href="index.php?section=contact">CONTACT</a></p>
                </div>
            </div>
    </div>

{% endblock %}